/*------General------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*------Carrousel images------*/
#slideshow-principal{
    position: relative;
    overflow: hidden;
}
#slideshow{
    position: relative;
    z-index: 998;
    height: 562px;
}
#slideshow img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
#img2{
    left: 100%;
}
.active {
    left: 0 !important;
}
#indicadores{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 999;
}
.circles{
    border: #EEF5DB 2px solid;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5px 0 5px;
    background-color: transparent;
    border-radius: 50%;
}
.resaltado{
    background-color: #D64045;
    transition: background-color 0.8s;
}

/* ------Body------ */
body{
    font-family: 'Assistant', sans-serif;
    font-size: 10px;
    background: #eef5db;
}

/* ------Nav------ */
nav{
    background: #1d3354;
    width: 100vw;
    height: 14.5vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
nav .container{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 3.8em;
    color: #EEF5DB;
}

.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;

}
.menu li:hover a{
    color: #42bdf7;
}
.menu ul li a {
    text-decoration: none;
    color: #EEF5DB;
    transition: color 0.3s linear;
    font-size: 2em;
    margin: 0 20px;
    font-weight: 400;
}
#movSection{
    display: none;
}

/* ------Intro------ */
section.portada{
    width: 100%;
    height: 500px;
}
.portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.history .container{
    width: 85vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.author{
    width: 200px;
    height: 270px;
    margin: 30px;
}
.author img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dato{
    width: 200px;
    height: 270px;
    background: #D6E7A9;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}


.dato i{
    padding: 7px;
    font-size: 2.3rem;
    color: #1d3354;
    transition: all 0.3s linear;
}
.dato p{
    font-size: 17px;
    font-weight: 450;
    margin: 0.5em;
}
.dato p span{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.5em;
    text-align: center;
}

/* ------Movies slider------*/
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    background:#D6E7A9;
    margin: 0 auto 50px auto;
    position: relative;
    width: 85vw;
    overflow: hidden;
    text-align: center;
}
.slider a{
    text-decoration: none;
    color: #1d3354;
    font-size: 1.1rem;
    transition: all 0.3s linear;
}
.slider a:hover{
    cursor: pointer;
    color: #42bdf7;
}
.slide-track{
    display: flex;
    width: calc(250px*20);
    animation: scroll 28s linear infinite;
    margin-bottom: 20px;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *10));
    }
}
.slide{
    height: 350px;
    width: 230px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, #D6E7A9 0%, rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


/*------Movies.html------*/

#searchBox{
    padding: 1em 0 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#formulario{
    border-style: none;
    border-radius: 6px;
    height: 2.5em;
    width: 40%;
    margin: 0.5em;
    padding: 0.5em;
}
#formulario:focus{
    outline: none;
    box-shadow: 0px 0px 0.5px 6px rgba(255, 255, 255, 0.2);
}
#formulario:hover{
    box-shadow: 0px 0px 0.5px 6px rgba(255, 255, 255, 0.2);
}

#btn-search{
    border-radius: 50%;
    border-style: none;
    width: 45px;
    height: 45px;
    margin: 1em;
    background-color: #f1f2f6;
    cursor: pointer;
    transition: all 0.2s linear;
}
#searchIcon{
    font-size: 14px;
    color: #D64045;
}
#btn-search:hover{
    transform: scale(1.1);
}


#cont-filter{
    background-color: #D64045;
    width: 100vw;
    align-items: center;
    font-size: 1rem;
}
#cont-filter #cont-label-filter{
    text-align: center;
    display: flex;
    justify-content: space-between;

}
.icon-filter{
    color: #f1f2f6;
    width: 80px;
    padding: 15px 0;
    margin: 0 auto;
}
.tab-btn{
    background: #D64045;
    border: none;
    font-size: 1rem;
    width: 33.2%;
    color: #f1f2f6;
    padding: 5px 0;

}
.tab-btn:hover {
    cursor: pointer;
}

.active{
    background: #f1f2f6;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
}
#cont-label-filter .active{
    color: #D64045;
}
.icon-close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5em;
    color: #D64045;
    transition: all 0.3s linear;
}
.icon-close:hover{
    cursor: pointer;
    transform: rotate(180deg);
}

#cont-options-filter .active{
    width: 100vw;
    padding-top: 35px;
    position: relative;

}
#cont-options-filter .active p{
    padding: 5px 0;
    font-size: 1rem;
}

#cont-options-filter p{
    text-align: center;
    transition: all 0.3s ease-in-out;
}
#cont-options-filter p:hover{
    cursor: pointer;
    color: #D64045;
    background-color: #fff;
}
.btns:not(.active){
    display: none;
}
.cont-year{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cont-year button{
    background: #fff;
    font-size: 1rem;
    border: 1.5px solid rgb(170, 170, 170);
    border-radius: 5px;
    width: 100px;
    padding: 7px 12px;
    margin: 5px;
    transition:all 0.3s linear;
}
.cont-year button:hover{
    cursor: pointer;
    background: #D64045;
    border: #D64045;
    color:#fff;
}
.cont-year .active{
    display: inline-block;
    width: 100px;
    background: #D6E7A9;
}

section.movies{
    background: #EEF5DB;
    display: flex;
    background: #eef5db;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
}
.movie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.movie .figure{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 3%;
    overflow: hidden;

}
.movie .figure .capa{
    position: absolute;
    top: 0;
    background-color: #42bdf7;
    color: #EEF5DB;
    height: 100%;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 15px;
    font-size: 1.3em;
}

.img-movie{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.movie .figure:hover .img-movie{
    transform: scale(1.1);

}

.movie .figure:hover .capa{
    opacity: 1;
    visibility: visible;
}
.capa .cont-title{
    height: 45px;
}
.capa .cont-span{
    display: flex;
    justify-content: space-around;
}
.capa .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 58%;
}
.capa .description p{
    text-align: justify;
    margin: 8px;
}
.capa .btn-mas{
    text-decoration: none;
    display: inline-block;
    margin: 16px 0;
    padding: 5px 15px;
    font-weight: 700;
    color: #EEF5DB;
    background: #9cc42d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.capa .btn-mas:hover{
    color: #9cc42d;
    background: #EEF5DB;
}


/*Scroll Top Btn*/
#topBtnMov{
    background-color: #D64045;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: fixed;
    padding: 2em;
    left: 95vw;
    top: 74vh;
    transform: translatex(-50%);
    z-index: 5;
    visibility: hidden;
}
#topBtnMov > i{
    font-size: 22px;
    color: #F1F2F6;
}

#topBtnPeople{
    background-color: #D64045;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: relative;
    padding: 2em;
    left: 50vw;
    transform: translatex(-50%);
    z-index: 5;
    visibility: hidden;
}
#topBtnPeople > i{
    font-size: 22px;
    color: #F1F2F6;
}

/*Movies Inf Section*/
.cont-btn-close{
    position: absolute;
    background: #f1f2f6b0;
    z-index: 2;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.btn-close{
    font-size: 2rem;
    color: #D64045;
    transition: all 0.3s linear;
    padding: 5px 10px;
}
.btn-close:hover{
    transform: rotate(180deg);
    cursor: pointer;
}
#movInfSection{
    display: none;
    position: relative;
}
#movGeneralInf{
    width: 100%;
    height: auto;
    margin-bottom: -30vh;
}
.background{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: multiply;
}
#infContent{
    position: relative;
    top: -30vh;
    width: 90%;
    height: auto;
    margin: 5px auto;
    display: flex;
    z-index: 2;

}
.poster{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
#infBox{
    background-color: #D6E7A9;
    width: 100%;
    height: auto;
    margin: auto 0.5em 0.5em 0.5em;
    border-radius: 5px;
}
#textInf{
    margin: 1em;
    width: auto;
    text-align: justify;
}
#textInf h2{
    padding: 0.2em;
    font-size: 42px;
}
#infIcons{
    position: relative;
    padding: 0.6em;
    display: flex;
    width: 100%;
    row-gap: 40px;
}
#infIcons div{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
}
#InfIcons p{
    font-size: 14px;
}
.icon{
    width: 20px;
    height: 20px;
}
#infBox p{
    padding: 0.6em;
    font-size: 12px;
}
#creators{
    position: relative;
    padding: 0.6em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#director, #producer{
    width: 70%;
    height: auto;
}
#director h3, #producer h3{
    font-size: 13px;
}
#director p, #producer p{
    padding: 0;
    font-size: 12px;
}


/*Mov Inf of Characters*/
.show{
    position: relative;
    background-color: #1D3354;
    border-radius: 25px;
    cursor: pointer;
    height: 3.2em;
    width: 80%;
    margin: 50px auto;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show h3{
    line-height: 32px;
    font-size: 15px;
    color: #EEF5DB;
    margin-left: 3em;
}
.show .arrow-down{
    color: #EEF5DB;
    margin-right: 3em;
    font-size: 18px;
}
.show:hover{
    background-color: #42bdf7;
}
.show:hover h3{
    color: #1D3354;
}
.show:hover #icon-arrow{
    transform: rotate(0deg);
    color: #1D3354;
}

#movPeopleInf{
    height: auto;
}
.cont{
    display: none;
}
#contPeopleInf{
    height: auto;
}
#peopleInf{
    top: -30vh;
    width: 84%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character{
    width: 160px;
    height: 235px;
    margin: 3%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display:block;
    border-radius: 4px 4px 0px 0px;
}
.characterName h4{
    width: 100%;
    height: 35px;
    background-color: #D64045;
    color: #EEF5DB;
    font-size: 12px;
    border-radius: 0px 0px 4px 4px;
    line-height: 35px;
    text-align: center;
}
.character:hover{
    transform: scale(1.1);
}
.character:hover .characterData{
    opacity: 1;
    visibility: visible;
}
.characterData{
    position: absolute;
    top: 0;
    width: 160px;
    height: 235px;
    display: flex;
    align-content: center;
    background-color: #42bdf7;
    border-radius: 4px;
    visibility: hidden;
    transition: all 0.3s linear;
}
.characterData > section{
    width: 86%;
    height: auto;
    margin: auto;
}
.characterData img{
    width: 23px;
    height: 23px;
    margin: 5px;
}
hr{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    color: #EEF5DB;
}
.characterData div{
    display: flex;
    margin: 0.3em;
    width: 86%;
    height: auto;
    margin: 2px auto;
}
.category{
    flex-direction: column;
    margin: 4px;
}
.category h4{
    font-size: 13px;
    color: #EEF5DB;
}
.category p{
    font-size: 11px;
}

/*Mov Inf of Locations*/
 #locationsInf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-location{
    margin: 2em;
    display: flex;
    width: 60%;
    background: #D6E7A9;
    border-radius: 8px;
}
.card-image-location {
    width: 280px;
    height: 170px;
}
.card-image-location img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: 1.3em;
    color: #1D3354;
}
.card-text-location span{
    font-weight: 600;


}

#locationsInf, #vehiclesInf{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}
.card-location{
    margin: 2em;
    display: flex;
    width: 55%;
    height: 170px;
}
.card-vehicles{
    margin: 2em;
    display: flex;
    width: 55%;
    height: 220px;
}
.card-image-location, .card-image-vehicles{
    width: 50%;
    height: 100%;
}
.card-image-location img, .card-image-vehicles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;

}
.card-text-location, .card-text-vehicles{
    background: #D6E7A9;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 20px;
    font-size: 1.3em;
    color: #1D3354;
}
.card-text-location h3, .card-text-vehicles h3{
    text-align: center;
}
.card-text-location span, .card-text-vehicles span{
    font-weight: 600;
}

/* /*Mov Inf Vehicles
#vehiclesInf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}
.card-vehicles{
    margin: 2em;
    display: flex;
    height: 170px;
}
.card-image-vehicles{
    width: 280px;
    height: 170px;
}
.card-image-vehicles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
.card-text-vehicles{
    background: #D6E7A9;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25em;
    padding: 20px;
    font-size: 1.3em;
    color: #1D3354;
}
.card-text-vehicles span{
    font-weight: 600;
}  */

/*--About Section---*/
#aboutSection{
    display: none;
    width: 80vw;
    margin: 0 auto;
}
.infAbout{

    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    position: relative;

}
.infAbout img{
    position: absolute;
    left: -230px;
    width: 500px;
    height: 230px;
    z-index: 2;
}
.circle{
    position: absolute;
    right: -150px;
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 120px;
    width: 350px;
    height: 350px;
    background: #D6E7A9;
    border-radius: 50%;

}
.circle p{
    font-size: 1rem;
    color: #1D3354;
    letter-spacing: 2px;
    font-weight: 400;
}
.phrase-team{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.phrase{
    width: 400px;

    padding: 20px;
    background: #D6E7A9;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 5px;
}
.phrase .autor{
    text-align: right;
    font-style: italic;
}
.team{
    font-size: 1rem;
    text-align: center;
}
.team .title-team{
    background: #1D3354;
    width: 200px;
    margin: 15px auto;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
}
.members{
    display: flex;

}
.members img{
    width: 120px;
    height: 120px;
    background: #42bdf7;
    border-radius: 50%;
    margin: 5px;
    border: 3px solid transparent;
    transition: all 0.3s ease-in;
}
.members img:hover{
    border:3px solid #D64045;
    background: #D64045;
}
.member{
    text-align: center;

}

/*------Footer------*/
footer{
    background-color: #1D3354;
    width: 100%;
    padding: 25px 0;
    margin: 0;
}
footer p{
    color: #EEF5DB;
    width: 14em;
    font-size: 15px;
}
footer .container{
    margin: 0 auto;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerIcon{
    width: 40px;
    height: 40px;
    margin: 1em;
}
footer i{
    color: #fff;
    font-size: 1.7rem;
    margin-left: 15px;
}
/*Media Queries*/
@media only screen and (max-width:1080px) {
    .author img, .dato{
        margin: 0 5px;
    }
}
@media only screen and (max-width:1024px) {
    .history .container{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .datos{
        width: 100%;
        margin-bottom: 30px;
    }
    .dato{
        height: 250px;
        margin: 0;
    }
 }
 @media only screen and (max-width:768px){
     /*Nav*/
    nav{
        width: 100%;
        height: auto;
        justify-content: center;
    } 
    nav .menu{
        margin: 0.5em 0 1em 0;
    }
    nav h1{
        margin: 0.5em 0 0.5em 0;
    }
     /*datos ghibli*/
    .datos{
        flex-direction: column;
        width: 100%;
    }
    .dato{
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .dato p span{
        font-weight: 700;
    }
    /*scroll home parte inferior*/
    main{
        padding: 0;
    }
    #container{
        padding: 2px;
        height: 250px;
    }
    #textInf h2{
        font-size: 35px;
        margin: 10px;
    }
    .poster{
        width: 24em;
        height: 38em;;
        object-fit: cover;
        margin: 2.5em;
    }
    .selectionPoster:hover{

        width: 160px;
        height: 200px;
    }
    .slideBox{
        width: 160px;
        height: 250px;
    }
    .movieTitle{
        width: 153px;
        height: 30px;
    }
    .movieTitle p{
        padding: 5px;
    }
    .moviePoster{
        width: 153px;
        height: 180px;
    }
    /*scroll parte superior*/
    #slideshow{
        height: 300px;
    }
    nav .container{
        flex-direction: column;
    }
    footer .container{
        text-align: center;
        flex-direction: column;
    }
    /*Sección de información*/
    #infContent{
        width: 90vw;
    }
    #background{
        height: 10vh;
    }
    #textInf{
        text-align: center;
    }
    #infContent{
        flex-direction: column;
        align-items: center;
    }
    #infBox{
        width: 95%;
        left: 1em;
        right: 1em;
        margin: 1em auto 1em auto;
        text-align: center;
    }
    #infIcons{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
    }
    #infIcons div{
        margin: 0 3%;
        width: 30%;
        flex-direction: column;
    }
    #infIcons p{
        width: 60px;
    }
    #creators{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    #director, #producer{
        width: 100%;
        align-items: center;
        margin-bottom: 1em;
    }
    #director h3, #producer h3{
        margin: 0.5em 0 0.5em 0;
    }

    /*TopBtn*/
    #topBtnMov{
        left: 90vw;
        bottom: 10em;
    }
    #topBtnMov, #topBtnPeople{
        visibility: visible;
    }
    /*Locations*/
    #locationInf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
    }
     .card-location{
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    .card-image-location{
        width: 280px;
        height: 170px;
    }
    .card-image-location img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
    .card-text-location{
        border-radius: 0 0 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170px;
        width: 280px;
        padding: 20px;
    }

 }
 @media only screen and (max-width:280px){
     /*Nav*/
    nav{
        height: auto;
    }
    nav .menu{
        margin: 1em 0 0.5em 0;
    }
    nav h1{
        margin: 0.5em 0 1em 0;
    }
    .dato p{
        font-weight: 450;
        margin: 0.5em;
    }
     /*datos ghibli*/
    .datos{
        flex-direction: column;
        width: 100%;
    }
    .dato{
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    /*scroll home parte inferior*/
    main{
        padding: 0;
    }
    #container{
        padding: 2px;
        height: 250px;
    }
    #textInf h2{
        font-size: 35px;
        margin: 10px;
    }
    .poster{
        width: 20em;
        height: 30em;
        object-fit: cover;
        margin: 0.5em;
    }
    .selectionPoster:hover{

        width: 160px;
        height: 200px;
    }
    .slideBox{
        width: 160px;
        height: 250px;
    }
    .movieTitle{
        width: 153px;
        height: 30px;
    }
    .movieTitle p{
        padding: 5px;
    }
    .moviePoster{
        width: 153px;
        height: 180px;
    }
    /*scroll parte superior*/
    #slideshow{
        height: 300px;
    }
    nav .container{
        flex-direction: column;
    }
    footer .container{
        text-align: center;
        flex-direction: column;
    }
    /*Sección de información*/
    #infContent{
        width: 90vw;
    }
    #background{
        height: 10vh;
    }
    #textInf{
        text-align: center;
    }
    #infContent{
        flex-direction: column;
        align-items: center;
    }
    #infBox{
        width: 95%;
        left: 1em;
        right: 1em;
        margin: 1em auto 1em auto;
        text-align: center;
    }
    #infIcons{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
    }
    #infIcons div{
        margin: 0 3%;
        width: 30%;
        flex-direction: column;
    }
    #infIcons p{
        width: 60px;
    }
    #creators{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    #director, #producer{
        width: 100%;
        align-items: center;
        margin-bottom: 1em;
    }
    #director h3, #producer h3{
        margin: 0.5em 0 0.5em 0;
    }
    /*TopBtn*/
    #topBtnMov{
        left: 90vw;
        bottom: 10em;
    }
    #topBtnMov, #topBtnPeople{
        visibility: visible;
    }
    /*Locations*/
    #locationInf, #vehiclesInf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
    }
     .card-location{
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: auto;
    }
    .card-image-location{
        width: 160px;
        height: 170px;
    }
    .card-image-location img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
    .card-text-location{
        border-radius: 0 0 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170px;
        width: 160px;
        padding: 20px;
    }
 }
 @media only screen and (max-width:2560px){
    #infContent{
        width: 76vw;
    }
    #background{
        height: 10vw;
    }
    #infIcons{
        width: 60%;
    }
    #creators{
        width: 50%;
    }
}
